<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../layoutSoLienLacPH/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../layoutSoLienLacPH/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../layoutSoLienLacPH/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../layoutSoLienLacPH/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../layoutSoLienLacPH/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../layoutSoLienLacPH/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../layoutSoLienLacPH/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../layoutSoLienLacPH/css/style.css" type="text/css">
    <link rel="stylesheet" href="../layoutSoLienLacPH/css/custom.css" type="text/css"> <!-- Add custom CSS file -->
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> haudang2212@gmail.com</li>
                                <li>Sổ liên lạc điện tử</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__auth">
                                <!-- Add authentication logic here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/Home/GiaoVien"><img src="../layoutSoLienLacPH/img/Logo HUIT-03.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/Home/GiaoVien">Trang chủ</a></li>
                            <li>
                                <a href="#">Học tập</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="#">Thông tin giáo viên</a></li>
                                    <li><a href="/Home/XemThoiKhoaBieuGiaoVien">Thời khóa biểu</a></li>
                                    <li><a href="/Home/thongBao">Thông báo</a></li>
                                    <li><a href="@Url.Action("ChangePassword", "Home")">Đổi Mật Khẩu</a></li>
                                </ul>
                            </li>
                            <li><a href="#lienhe">Liên hệ</a></li>
                            <li><a href="#aboutus">Về chúng tôi</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Page Content -->
    @RenderBody()

    <!-- Footer Section Begin -->
    <footer id="lienhe" class="footer spad">
        <!-- Footer content goes here -->
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="../layoutSoLienLacPH/js/jquery-3.3.1.min.js"></script>
    <script src="../layoutSoLienLacPH/js/bootstrap.min.js"></script>
    <script src="../layoutSoLienLacPH/js/jquery.nice-select.min.js"></script>
    <script src="../layoutSoLienLacPH/js/jquery-ui.min.js"></script>
    <script src="../layoutSoLienLacPH/js/jquery.slicknav.js"></script>
    <script src="../layoutSoLienLacPH/js/mixitup.min.js"></script>
    <script src="../layoutSoLienLacPH/js/owl.carousel.min.js"></script>
    <script src="../layoutSoLienLacPH/js/main.js"></script>
</body>

</html>
