

@{
    ViewData["Title"] = "Thêm học sinh";
    Layout = "~/Views/Shared/_LayoutDaoTao.cshtml";
}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<style>
    .container {
        margin-top: 20px;
    }

    .form-group label {
        font-weight: bold;
    }

    .form-control.is-invalid {
        border-color: #dc3545;
    }

    .invalid-feedback {
        display: none;
        color: #dc3545;
    }

    .form-control.is-invalid + .invalid-feedback {
        display: block;
    }

    .form-header {
        text-align: center;
        margin-bottom: 20px;
    }

    .confirmation-message {
        color: #dc3545;
        font-weight: bold;
    }
</style>
<div id="aboutus" class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Về chúng tôi</h2>
                <div class="member-container">
                    <div class="member">
                        <img src="../layoutSoLienLacPH/img/này hinh Nam thần (kinh).jpg" alt="Member 1" class="member-img">
                        <p class="member-name">Nguyễn Hoàng Nam</p>
                    </div>
                    <div class="member">
                        <img src="../layoutSoLienLacPH/img/hehe.JPG" alt="Member 2" class="member-img">
                        <p class="member-name">Đặng Nguyễn Công Hậu</p>
                    </div>
                    <div class="member">
                        <img src="../layoutSoLienLacPH/img/này hình (cao)Cường.jpg" alt="Member 3" class="member-img">
                        <p class="member-name">Nguyễn QUốc Cường</p>
                        <p class="member-name">thuyền trưởng </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>