@model WebApplication1.Models.Teacher

@{
    ViewBag.Title = "Thông tin giáo viên";
    Layout = "~/Views/Shared/_LayoutGiaoVien.cshtml";
}

<div class="container mt-5">
    <h2>Thông tin giáo viên</h2>
    <form asp-action="ThongTinGiaoVien" method="post">
        <div class="form-group">
            <label for="Name">Họ và tên</label>
            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" readonly />
        </div>
        <div class="form-group">
            <label for="SDT">Số điện thoại</label>
            <input type="text" class="form-control" id="SDT" name="SDT" value="@Model.SDT" required />
        </div>
        <div class="form-group">
            <label for="Subjects">Môn dạy</label>
            @foreach (var subject in ViewBag.Subjects)
            {
                <input type="text" class="form-control" value="@subject" readonly />
            }
        </div>
        <button type="submit" class="btn btn-primary">Cập nhật</button>
    </form>
</div>


